


body{

    --primary-color: #89bbfe;
    background-color: var(--primary-color);
    margin: 0;
    display: flex;

}

*:not(input):not(textarea){

    caret-color: transparent;
}

.side-div{
    
    width: 30vw;
    height: 100vh;
    @media (max-width: 1023px) {
        display: none;
    }
}
.main-div{
    
    background-color: #0353A4;
    border-radius: 30px;
    padding: 2vw;
    
    display: flex;
    justify-content: center;
    
    width: 40vw;
    height: 100vh;


    @media (max-width: 1023px) {
        width: 100vw;
        height: 100vh;
    }
        
        
}

.search-bar{
    
    height: 3vh;
    width: 80%;
    background-color: transparent;
    border-color: transparent transparent var(--primary-color) transparent;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: larger;
}
